{% extends 'base.html' %}
{% block title %}
  {{ group.title }}
{% endblock %}
{% block header %} <h1> {{ group.title }} </h1> <p>{{ group.description }}</p> {% endblock %}
{% block content %}
  {% for post in page_obj %}
  <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
  </article>
  <!-- под последним постом нет линии -->
</div>  
{% endblock %}
